body {
  padding: 50px;
  font: 14px "Nunito", Helvetica, Arial, sans-serif;

}

/*#text {
	display:inline-block;

}*/

a {
  color: #00B7FF;
}

.zeb {
	margin-top: 40px;
	/*display: inline-block;*/
	/*padding: 0px 10px 0px 0px;*/
}

#del{
	float: right;
}
#save{
	float: right;
}
nav ul li{
	list-style: none;
	display: inline;
	font-size: 20px;
	float: right;
	padding: 0px 10px;
}
