body {
<<<<<<< HEAD
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #7ED957;
=======
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
>>>>>>> 25564bf136796b813615bfaadfd0a285fcad81db

}

.heading{
	text-align: center;
	padding: 100px;
}

.about {

	padding: 100px;
	margin: 100px;


}
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	background-color: #05386B;
	color: white;
	padding: 100px;
}

.form-group label {
	width: 120px;
}

.navbar p {
	color: white;
	font-weight: bold;
}

.navbar a {
  color: white;
  font-weight: normal;
}

<<<<<<< HEAD


=======
.zeb {
	margin-top: 40px;
	/*display: inline-block;*/
	/*padding: 0px 10px 0px 0px;*/
}

#del{
	float: right;
}
#save{
	float: right;
}
nav ul li{
	list-style: none;
	display: inline;
	font-size: 20px;
	float: right;
	padding: 0px 10px;
}
>>>>>>> 25564bf136796b813615bfaadfd0a285fcad81db
