<<<<<<< Updated upstream
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
=======
<% layout('/layout') %>
<% block('title', 'My Express View') %>
    <h1><%= header %></h1>
>>>>>>> Stashed changes
    <p>Welcome to <%= title %></p>

