<% layout('/layout') %>

 <h1><%= title %></h1>

 <br>
 <br>
 <br>


<h2>Welcome to our page!</h2>

<br>
<br>
<br>

<div class="login">
	<h4>Please Sign In</h4>

	<form action="/login" method="post">
		<label for="username">Email Address</label>
		<input name="username" placeholder="Email Address" required autofocus>
		<br>
		<label for="password">Password</label>
		<input name="password" placeholder="Password" type="password" required>
		<br>

		<button type="submit">Sign In</button>
	</form>

</div>

<br>
<br>
<br>

<div>
	<h4>If not a member yet, feel free to sign up!</h4>

	<form action="/signup" method="post">
		<label for="firstName">First Name</label>
		<input name="firstName" placeholder="First Name" required autofocus>
		<br>
		<label for="lastName">Last Name</label>
		<input name="lastName" placeholder="Last Name" type="Last Name" required>
		<br>
		<label for="username">Email</label>
		<input name="username" placeholder="Email Address" required autofocus>
		<br>
		<label for="password">Password</label>
		<input name="password" type="password" placeholder="Password"required>
		<br>
		<button type="submit">Sign Up!</button>
	</form>

	<br>
	<br>
	<br>

	<h4>About Epic Notes</h4>
	<p>This app will allow the user to: Lorem ipsum dolor sit amet, eu sit wisi convenire, sed ei dolore appareat hendrerit, euripidis consequuntur ius ne. Urbanitas maiestatis cotidieque ne sed. Pri velit iisque et, tritani posidonium te pro. Ne vel bonorum eruditi. Dolor partiendo ut vel, iusto definitionem ne nam.
</p>
<br>
<br>
<br>


<h3>List of Notes:</h3>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

</div>

<br>
<br>
<br>

<h3>Leave us some feedback!</h3>

<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
		<input name="firstName" placeholder="First Name" required autofocus>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
		<input name="firstName" placeholder="Last Name" required autofocus>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
		<input name="username" placeholder="E-mail" required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">All feedback is appreciated!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

<button type="submit">Submit</button>