<!DOCTYPE html>
<html>
<head>
	<title><%= blocks.title %></title>
	<% if (typeof currentUser !== 'undefined') { %>
  <p> Logged In As: <%= currentUser.username %></p>
<% } %>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link rel = "stylesheet" href = "/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%- partial('partials/navbar') -%>
			</div>	
		</div>		
	</div>			
	<%- body -%>
</body>
</html>