<% layout('/layout') %>
  <div>
    <h2>Please Sign In</h2>
      <% if(error) { %>
        error
      <% } %>
      <form action="/login" method="post">
        <label for="username">Email Address</label>
        <input name='username' placeholder='Email Address' required autofocus>
        <label for="password">Password</label>
        <input type="password" name="namepassword" required>
        <button type="submit">Sign In</button>
      </form>
  </div>