<% layout('/layout') %>
<% block('title', 'Notes') %>
<!-- <%- partial('partials/navbar') -%>  -->
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
              <h1><%= title %></h1>
              <p>View and Edit Notes</p>
      </div>        
    </div>          
  </div>   
  <div class="container">
    <div class="row">
       <div class="col-sm-3">
         	<div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              Music Dreams
            </a>
            <a href="#" class="list-group-item list-group-item-action">To-Do List</a>
            <a href="#" class="list-group-item list-group-item-action">Homework</a>
            <a href="#" class="list-group-item list-group-item-action">Groceries</a>
            <a href="#" class="list-group-item list-group-item-action" >Game cheats</a>
          </div>
          <div class="zeb">
            <button type="button" class="btn btn-primary" id="addNew">Add New</button>
            <button type="button" class="btn btn-primary" id="del">Delete</button>
          </div>
        </div>

      <div class="col-sm-7">
      	  <div class="form-group" id = "text">
          <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
            <textarea class="form-control" action="/notes" method="post" id="exampleFormControlTextarea1" rows="8"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="save">Save Edits</button>
      </div>

    </div>
  </div>
<!-- front end: executes
   get and post
   $.get('url', callback( ) ) :makes backend router listen for the frontend
   $.post('url', data, callback( ) )

 -->
  <script
  src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    // $("#save").click(function save(){
    //   $.get('/notes', function(req, res, next){
    //     console.log($("#exampleFormControlTextarea1").val());
        
    //     //res.render('/notes', $("#exampleFormControlTextarea1").val());
    //   });
    // });

    // $.post('/notes', function (req, res, next) {
    //   console.log('/')
    // })
    // var data = {
    //    note: $("#exampleFormControlTextarea1").val()
    //  };
    // $.post("/route", data, function(){

    //  })

    $("#save").click(function save(){
      $.get($("#exampleFormControlTextarea1").val(), function(req, res, next){
        console.log($("#exampleFormControlTextarea1").val());
        //alert($("#exampleFormControlTextarea1").val());
      });
      $.post($("#exampleFormControlTextarea1").val(), data, function(req, res, next){
          var data = $.get($("#exampleFormControlTextarea1").val());
          console.log(data);
      })
    });
  </script>
