<%layout('/layout') %>
<% block('title', 'Notes') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   
   <div class="col-sm-3">
   	<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Music to Download
  </a>
  <a href="#" class="list-group-item list-group-item-action">To-Do List</a>
  <a href="#" class="list-group-item list-group-item-action">Homework</a>
  <a href="#" class="list-group-item list-group-item-action">Groceries</a>
  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Games to buy</a>
</div>
</div>

<div class="col-sm-9">
	  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>