<% layout('/layout') %>
<% block('title', 'Notes') %>
<!-- <%- partial('partials/navbar') -%>  -->
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
              <h1>Welcome Back!</h1>
              <p>View and Edit Notes Here</p>
      </div>        
    </div>          
  </div>   
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          <!-- <input class="form-control" type="text" placeholder="Title" id="title"><br>
      	  <div class="form-group" id = "text">
          <label for="exampleFormControlTextarea1">Example textarea</label> -->
           <!--  <textarea class="form-control" name="ha" action="/notes" method="post" id="exampleFormControlTextarea1" rows="7"></textarea>
          </div> -->
          <!-- vFramework Television link: https://www.youtube.com/watch?v=ZrbG-48lFOg -->
              <h1>Notes</h1>
              <div id="write">
                <div class="form-group">
                  <label for="title">Title</label><br>
                  <input type="text" name="ha" id="mew">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Note</label><br>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
                </div>
                
                
              </div>
              <div class="zeb">
                  <!-- <button type="button" class="btn btn-primary" id="addNew">Add New</button> -->
                  <button type="submit" class="btn btn-primary" id="save">Save</button>
                  <!-- <button type="button" class="btn btn-primary" id="del">Delete</button> -->
                </div>
              <div id="read">
                <button type="button" class="btn btn-primary" id="addNew">Add New</button>
                <select multiple class="form-control" size="10" id="noteMaster"></select>
                <div id="noteDisplay"></div>
              </div>
           
          <button type="button" class="btn btn-primary" id="edit">Edit</button>
      </div>

    </div>
  </div>

    <div id="groupNotes"></div>

<!-- front end: executes
   get and post
   $.get('url', callback( ) ) :makes backend router listen for the frontend
   $.post('url', data, callback( ) )

 -->
 
  
