<% layout('/layout') %>
<% block('title', 'Notes') %>
<%- partial('partials/navbar') -%> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   
  <div class="container">
    <div class="row">
       <div class="col-sm-3">
         	<div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              Music Dreams
            </a>
            <a href="#" class="list-group-item list-group-item-action">To-Do List</a>
            <a href="#" class="list-group-item list-group-item-action">Homework</a>
            <a href="#" class="list-group-item list-group-item-action">Groceries</a>
            <a href="#" class="list-group-item list-group-item-action" >Game cheats</a>
          </div>
          <div class="zeb">
            <button type="button" class="btn btn-primary">Add New</button>
            <button type="button" class="btn btn-primary" id="del">Delete</button>
          </div>
        </div>

      <div class="col-sm-7">
      	  <div class="form-group" id = "text">
          <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="save">Save Edits</button>
      </div>

    </div>
  </div>