<% layout('/layout') %>
<% block('title', 'Notes') %>
<!-- <%- partial('partials/navbar') -%>  -->
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
              <h1>Welcome Back!</h1>
              <p>View and Edit Notes Here</p>
      </div>        
    </div>          
  </div>   
  <div class="container">
    <div class="row">
       <div class="col-sm-3">
         	<div class="list-group">
            <a href="#0" class="list-group-item list-group-item-action active">
              Music Dreams
            </a>
            <a href="#1" class="list-group-item list-group-item-action"><%- title -%> To-Do List</a>
            <a href="#3" class="list-group-item list-group-item-action">Homework</a>
            <a href="#4" class="list-group-item list-group-item-action">Groceries</a>
            <a href="#5" class="list-group-item list-group-item-action" >Game cheats</a>
          </div><br>
          <div class="zeb">
            <button type="button" class="btn btn-primary" id="addNew">Add New</button>
            <button type="button" class="btn btn-primary" id="del">Delete</button>
          </div>
        </div>

      <div class="col-sm-7">
          <input class="form-control" type="text" placeholder="Title"><br>
      	  <div class="form-group" id = "text">
          <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
            <textarea class="form-control" name="ha" action="/notes" method="post" id="exampleFormControlTextarea1" rows="7"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="save">Save</button>
          <button type="button" class="btn btn-primary" id="edit">Edit</button>
      </div>

    </div>
  </div>
<!-- front end: executes
   get and post
   $.get('url', callback( ) ) :makes backend router listen for the frontend
   $.post('url', data, callback( ) )

 -->
  
